<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>672473578866-bpq1fqhcp3ug6oe0h6egirc6ho2gg4td.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.672473578866-bpq1fqhcp3ug6oe0h6egirc6ho2gg4td</string>
	<key>API_KEY</key>
	<string>AIzaSyATZpImdO_W3On2EGosCDydHRBKkKF0G4o</string>
	<key>GCM_SENDER_ID</key>
	<string>672473578866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project2</string>
	<key>PROJECT_ID</key>
	<string>tmdb-da4b0</string>
	<key>STORAGE_BUCKET</key>
	<string>tmdb-da4b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:672473578866:ios:0854ca2b647c583dc1f1eb</string>
</dict>
</plist>